/* Write your code here. */

.bg-container {
  background-image: linear-gradient(to bottom right, #9796f0, #fbc7d4);
  min-height: 100vh;
}
.cards-container {
  padding: 40px;
}
.ul-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.win-status-card {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
